{% extends "base.html" %}
{% load static %}

{% block title %}Order{% endblock %}


{% block content %}
<div class="container">
    <h2 class="text-center" style="color: orange;">Order {{ plat.nom }}</h2>
    <p class="text-center"></p>
    

    {% if messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="order_form" enctype="multipart/form-data">
     <form method="post">
        {% csrf_token %}
        {{ form.nom_client.label_tag }} {{ form.nom_client }}<br>
        {{ form.email_client.label_tag }} {{ form.email_client }}<br>
        {{ form.quantite.label_tag }} {{ form.quantite }}<br>
        <label for="id_heure_disponibilite">Choose your preferred pickup time</label>
        <input type="time" class="form-control" id="id_heure_disponibilite" name="heure_disponibilite" required><br>
        <p>Make the payment through our various numbers to complete your order</p>
        <div class="depot">
         <span class="orange">ORANGE MONEY: 658 20 16 29</span><br>
         <span class="MTN">MOBILE MONEY : 653 84 42 44</span><br>
        </div>
        {{ form.deposit_receipt.label_tag}}{{ form.deposit_receipt}}
        {% for field in form %}
        {% for error in field.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
       {% endfor %} 
         {{form.errors}}
        <button type="submit" class="btn btn-success">Valid the order</button>
        <button type="submit" name="action" value="cancel" class="btn btn-danger">cancel</button> 
     </form>
    </div>
</div>
{% endblock %}