<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICTU RESTUARANT</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'styles.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap">
</head>

<body>
  <header class="header">
    <a href="#" class="logo">
      <img src="{% static 'images/logo.png' %}" alt="logo">
      
      
    </a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="{% url 'about_us' %}">About</a>
      <a href="{% url 'contact'%}">Contact</a>
      {% if messages %}
        <div class="messages">
         {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">{{ message }}</div>
         {% endfor %}
        </div>
      {% endif %}
      <a href="{% url 'admin:login'%}">Admin login</a>
      {% if messages %}
       <span class="badge badge-pill badge-success">{{ messages|length }}</span>
      {% endif %}
    </nav>
  </header>
  <main> 
    <div class="intro">
      <h1>WELCOME TO THE ICTU RESTAURANT</h1>
      <p>where your taste buds get excited. Sit comfortably, order a meal and enjoy!</p>
      
       <button><a href="{% url 'menu'%}" class="btn " style="text-decoration: none;">Go to the menu</a></button>
      
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Faster food Delivery</p>
        <p class="work-text">It takes less than 30 minutes after your order has been recieved for you to be proprely served. Is that not wonderful??</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">Healthy Foods</p>
        <p class="work-text">A healthy body provides a healthy and strong mind for better studying!</p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Online Ordering</p>
        <p class="work-text">The introduction of our QR system is indeed great, as we are a technology inclined institution.</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>Order at the comfort of your seat</h2>
        <p>Sit back, relax and place a simple order. That is what we are all about, making food ordering a very simple, yet fast but fun process</p>
      </div>
      <img src="{% static 'images/chu.jpg' %}" alt="me">
    </div>
    <section class="chef-members">
      <h1 style="width: 150px;">Kitchen Staff</h1>
      
      <div class="chef-member">
          <img src="{% static 'images/chef.jpg'%}" alt="Image Description" width="200" height="150">
          <h4>Chef ANITA</h4>
      </div>
      <div class="team-member">
          <img src="{% static 'images/chef minette.jpg' %}" alt="Image Description" width="200" height="150">
          <h4>Chef Minette</h4>
      </div>
      <div class="team-member">
        <img src="{% static 'images/chef line.jpg' %}" alt="Image Description" width="200" height="150">
        <h4>Chef Line</h4>
    </div>
    <h2 >The talented individuals behind our culinary creations</h2> 
  </section>

  </main>
  <footer class="footer">
    <div class="copy">&copy; Group 5 level 2 ICTU</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="{% url 'about_us' %}">About</a>
        <a href="{% url 'contact'%}">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="https://www.facebook.com/ictu_restuarant"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/jrpounz75131"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/ictu_restaurant/"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/652397580"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </footer>
</body>

</html>